# Data: latency
# Filter: metadata-exchange and stats filters
# VM mode: wasm
load_gen_type: "fortio"
telemetry_mode: "v2-stats-wasm"
conn:
    - 2
    - 4
    - 8
    - 16
    - 32
    - 64
qps:
    - 1000
duration: 240
metrics:
    - p50
    - p90
    - p99
perf_record: false
run_bothsidecar: true
run_serversidecar: false
run_clientsidecar: false
run_baseline: false