# Data: latency
# Config: security_authz
telemetry_mode: "none"
conn:
    - 2
    - 4
qps:
    - 1000
duration: 240
perf_record: true
run_bothsidecar: true
run_serversidecar: false
run_clientsidecar: false
run_baseline: false

extra_labels: "security_authz"

jitter: true
