{% extends 'base.html' %}
{% load static from staticfiles %}

{% block sidebar_active %}
<ul id="side-main-menu" class="side-menu list-unstyled">
    <li><a href="{% url 'index_page' %}"><i class="fa fa-home"></i>Overview</a></li>
    <li><a href="#dropDown" aria-expanded="false" data-toggle="collapse">
    <i class="fa fa-area-chart"></i>Benchmarks</a>
    <ul id="dropDown" class="collapse list-unstyled">
        <li><a href="{% url 'cpu_memory' %}"></i>CPU & Memory Usage</a></li>
        <li><a href="{% url 'latency' %}"></i>Latency Quantiles</a></li>
        <li><a href="{% url 'flame_graph' %}"></i>Flame Graph</a></li>
        <li><a href="{% url 'micro_benchmarks' %}"></i>Micro Benchmarks</a></li>
    </ul>
    <li class="active"><a href="{% url 'configuration' %}"><i class="fa fa-cogs"></i>Configurations</a></li>
    <li><a href="#alertDropDown" aria-expanded="false" data-toggle="collapse">
    <i class="fa fa-area-chart"></i>Regression Alerts</a>
    <ul id="alertDropDown" class="collapse list-unstyled">
        <li><a href="{% url 'cur_alert' %}"></i>Current Release Alert</a></li>
        <li><a href="{% url 'master_alert' %}"></i>Master Alert</a></li>
    </ul>
    <li><a href="{% url 'artifact' %}"> <i class="fa fa-file-text"></i>Artifacts</a></li>
</ul>
{% endblock sidebar_active %}

{% block current_active %}
<li class="breadcrumb-item active">Configurations</li>
{% endblock current_active %}

{% block page_content %}
<section>
    <div class="container-fluid">
      <!-- Page Header-->
      <header>
        <h1 class="h1 display">Benchmark Configuration Demo</h1>
      </header>
    </div>
</section>

<section class="charts">
    <div class="container-fluid">
        <!-- Page Header-->
        <header>
            <h1 class="h3 display">Latency vs. Client Connections</h1>
        </header>
        <div class="row">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-8">
              <div class="card">
                <div class="card-header d-flex align-items-center">
                  <h4>Istio-master: P90, 1000QPS over 240 seconds</h4>
                </div>
                <div class="card-body">
                  <canvas id="latency-config-demo"></canvas>
                </div>
              </div>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
    </div>
</section>

<!-- Forms Section-->
<section class="forms">
    <div class="container-fluid">
        <div class="row">
        <!-- Form Elements -->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Istio Performance Benchmark Configurations</h3>
                    </div>
                    <div class="card-body">
                        <form class="form-horizontal">
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Istio Release Builds</label>
                                <div class="col-sm-9">
                                    <select name="account" class="form-control mb-3">
                                      <option> --- </option>
                                      <option>1.4-alpha.ffbbd35e3fb94a065fe03f838f582d0569fa278e</option>
                                      <option>1.4-alpha.ff09ea498c5292d6dffbb63eec47bf5062a4ca43</option>
                                      <option>1.4-alpha.da4339e8974e1d7e964bba560893eb21f9845d5e</option>
                                      <option>1.4-alpha.d987b85f52bb9fa5937caa6d590c31ed5ffc5882</option>
                                      <option>1.4-alpha.d932390e61fcf4334eb19c3046909d937406d3ae</option>
                                      <option>1.4-alpha.d8eb9d3699ef8945aa4cc6a1001a5455683df3b5</option>
                                      <option>1.4-alpha.d8adc7e15ed64e9c7304de5c39d129689fd71146</option>
                                    </select>
                                    <small class="help-block-none">Choose from the latest 7 days builds</small>
                                </div>
                            </div>
                            <div class="line"></div>

                            <div class="form-group row">
                              <label class="col-sm-3 form-control-label">Mixer Mode</label>
                              <div class="col-sm-9">
                                <label class="checkbox-inline">
                                  <input id="inlineCheckbox1" type="checkbox" value="option1"> mixer
                                </label>
                                <label class="checkbox-inline">
                                  <input id="inlineCheckbox2" type="checkbox" value="option2"> none
                                </label>
                                <label class="checkbox-inline">
                                  <input id="inlineCheckbox3" type="checkbox" value="option3"> telemetryV2
                                </label>
                              </div>
                            </div>
                            <div class="line"></div>

                            <div class="form-group row">
                              <label class="col-sm-3 form-control-label">Benchmark Types</label>
                              <div class="col-sm-9">
                                <select name="account" class="form-control mb-3">
                                  <!-- TODO: need to add help text or the current default display -->
                                  <option> --- </option>
                                  <option>Latency</option>
                                  <option>CPUs</option>
                                  <option>Memory</option>
                                  <option>Flame Graph</option>
                                  <option>Others</option>
                                </select>
                              </div>
                            </div>
                            <div class="line"></div>

                            <div class="form-group row">
                              <label class="col-sm-3 form-control-label">Latency Quantiles</label>
                              <div class="col-sm-9">
                                <label class="checkbox-inline">
                                  <input id="inlineCheckbox4" type="checkbox" value="option1"> P50
                                </label>
                                <label class="checkbox-inline">
                                  <input id="inlineCheckbox5" type="checkbox" value="option2"> P90
                                </label>
                                <label class="checkbox-inline">
                                  <input id="inlineCheckbox6" type="checkbox" value="option3"> P99
                                </label>
                              </div>
                            </div>
                            <div class="line"></div>

                            <div class="form-group row">
                              <label for="fileInput" class="col-sm-3 form-control-label">Choose Your .perf data for Flame Graph Or .csv for CPU/mem/Latency</label>
                              <div class="col-sm-9">
                                <input id="fileInput" type="file" class="form-control-file">
                              </div>
                            </div>
                            <div class="line"></div>

                            <div class="form-group row">
                              <label class="col-sm-3 form-control-label">Other Options</label>
                              <div class="col-sm-9">
                                <div>
                                  <input id="optionsRadios1" type="radio" checked="" value="option1" name="optionsRadios">
                                  <label for="optionsRadios1">Option 1</label>
                                </div>
                                <div>
                                  <input id="optionsRadios2" type="radio" value="option2" name="optionsRadios">
                                  <label for="optionsRadios2">Option 2</label>
                                </div>
                                <div>
                                  <input id="optionsRadios3" type="radio" value="option2" name="optionsRadios">
                                  <label for="optionsRadios3">Option 3</label>
                                </div>
                              </div>
                            </div>
                            <div class="line"></div>

                            <div class="form-group row">
                              <div class="col-sm-4 offset-sm-3">
                                <button type="submit" class="btn btn-secondary">Cancel</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                              </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock page_content %}

{% block page_data %}
    <script>
        latency_mixer_base_p90_master = {{ latency_mixer_base_p90_master|safe }};
        latency_mixer_serveronly_p90_master = {{ latency_mixer_serveronly_p90_master|safe }};
        latency_mixer_both_p90_master = {{ latency_mixer_both_p90_master|safe }};
        latency_none_serveronly_p90_master = {{ latency_none_serveronly_p90_master|safe }};
        latency_none_both_p90_master = {{ latency_none_both_p90_master|safe }};
        latency_v2_serveronly_p90_master = {{ latency_v2_serveronly_p90_master|safe }};
        latency_v2_both_p90_master = {{ latency_v2_both_p90_master|safe }};
    </script>
{% endblock page_data %}

{% block charts_js %}
   <script src="{% static 'js/configuration.js' %}"></script>
{% endblock charts_js %}
