{% load static from staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Istio Performance Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/fontastic.css' %}">
        <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.blue.css' %}" id="theme-stylesheet">
        <link rel="shortcut icon" href="{% static 'img/istio-logo.png' %}">
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>

        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        <script src="{%  static 'js/jquery.mCustomScrollbar.concat.min.js'%}"></script>
        {% block head_script %}
        {% endblock head_script %}
    </head>
    <body>
        <!-- Side Navbar -->
        <nav class="side-navbar">
            <div class="side-navbar-wrapper">
                <!-- Sidebar Header -->
                <div class="sidenav-header d-flex align-items-center justify-content-center">
                  <div class="sidenav-header-inner text-center">
                    <img src="{% static 'img/istio-logo.png' %}" alt="istio logo" class="img-fluid rounded-circle">
                    <h2 class="h5">Istio Performance</h2><span>Dashboard</span>
                  </div>
                </div>
                <!-- Sidebar Navigation Menus-->
                <div class="main-menu">
                  <h5 class="sidenav-heading">Main</h5>
                    {% block sidebar_active %}
                    {% endblock sidebar_active %}
                </div>
              </div>
        </nav>

        <!-- Page -->
        <div class="page">
          <!-- navbar-->
          <header class="header">
            <nav class="navbar">
              <div class="container-fluid">
                <div class="navbar-holder d-flex align-items-center justify-content-between">
                  <div class="navbar-header"><a id="toggle-btn" href="#" class="menu-btn"><i class="icon-bars"></i></a><a href="{% url 'index_page' %}" class="navbar-brand">
                    <div class="brand-text d-none d-md-inline-block"><strong class="text-primary">Dashboard</strong></div></a></div>
                </div>
              </div>
            </nav>
          </header>
          <!-- Breadcrumb-->
          <div class="breadcrumb-holder">
            <div class="container-fluid">
              <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index_page' %}">Overview</a></li>
                {% block current_active %}
                {% endblock current_active %}
              </ul>
            </div>

              {% block page_content %}
              {% endblock page_content %}

          <!-- footer -->
          <footer class="main-footer">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-12 text-right">
                  <p>Istio Performance WG &copy; 2020</p>
                </div>
              </div>
            </div>
          </footer>
        </div>

        <!-- Passing views data to javascript chart generation file -->
        {% block page_data %}
        {% endblock page_data %}


        <!-- JavaScript files -->
        {% block charts_js %}
        {% endblock charts_js %}
        <script src="{% static 'js/front.js' %}"></script>
    </body>
</html>