Namespace: auto-mtls
serverSidecar: 1
serverNoSidecar: 1
clientCount: 1

# Copied from root/perf/load/values.yaml
serviceGraphImage: tahler/isotope-service:1
serviceNamePrefix: svc-
requestSize: 128B
responseSize: 1KiB
replicas: 2
resources:
  requests:
    cpu: 50m
readinessProbe:
  httpGet:
    path: /metrics
    port: 8080
  initialDelaySeconds: 5
  periodSeconds: 5

prometheus_scrape: false

# time between config changes
configSleep: 120

# time between replicas changes
replicasSleep: 10

# tcp does not support permissive mode
# so readinessProbe
#tcpReadinessProbe:

# ingress should be set correctly
ingress: 127.0.0.1
https: false
domain: "incfly.local"
