# for client side setting, IP Ranges is server side service or pod
excludeOutboundIPRanges: ""
includeOutboundIPRanges: ""

appresources: {}

proxy:
  cpu: "1000m"
  memory: "512Mi"

appresources1:
  requests:
    cpu: "800m"
    memory: "1000Mi"

fortioImage: fortio/fortio:latest
curlImage: tutum/curl:trusty
nighthawkImage: envoyproxy/nighthawk-dev:59683b759eb8f8bd8cce282795c08f9e2b3313d4
domain: local
gateway: fortio-gateway
rbac:
  # If true, generates random RBAC policies for the fortio service.
  enabled: false
  # Number of RBAC policies generated.
  # Note: The generated policies will have a random name. One of the policies allows everyone to access fortioserver and
  # the other policies allow a random non exist user to access it.
  numPolicies: 3

server:  # server overrides
  #tlsmode: DISABLE
  tlsmode: ISTIO_MUTUAL
  expose: false
  inject: "false"
  injectL: "disabled" # "enabled" or "disabled"
  replica: 1    # default value

client: # client overrides
  #tlsmode: DISABLE
  tlsmode: ISTIO_MUTUAL
  expose: true
  inject: "false"
  injectL: "disabled" # "enabled" or "disabled"
  replica: 1    # default value

cert: false
interceptionMode: REDIRECT

namespace: ""
loadGenType: ""
