# Data: latency
# Filter: metadata-exchange and stats filters
# VM mode: nullvm
telemetry_mode: "istio_with_stats"
conn:
    - 2
    - 4
    - 8
    - 16
    - 32
    - 64
qps:
    - 1000
duration: 240
perf_record: false
del_perf_record: false
run_bothsidecar: true
run_serversidecar: false
run_clientsidecar: false
run_no_istio: false
uniform: true
nocatchup: true
