# Data: latency
# Config: No telemetry
telemetry_mode: "none_tcp"
conn:
    - 2
    - 4
    - 8
    - 16
    - 32
    - 64
qps:
    - 1000
duration: 240
size: 1024
perf_record: true
run_bothsidecar: true
run_serversidecar: false
run_clientsidecar: false
run_baseline: true

extra_labels: "mtls"

jitter: true
protocol_mode: tcp
