{% extends 'base.html' %}
{% load static from staticfiles %}

{% block head_script %}
<script src="{% static 'js/alert_common_func.js' %}"></script>
<script src="{% static 'js/master_alert.js' %}"></script>
{% endblock head_script %}

{% block sidebar_active %}
<ul id="side-main-menu" class="side-menu list-unstyled">
    <li><a href="{% url 'index_page' %}"><i class="fa fa-home"></i>Overview</a></li>
    <li><a href="#dropDown" aria-expanded="false" data-toggle="collapse">
    <i class="fa fa-area-chart"></i>Benchmarks</a>
    <ul id="dropDown" class="collapse list-unstyled">
        <li><a href="{% url 'cpu_memory' %}"><i class="fa fa-asterisk"></i>CPU & Memory Usage</a></li>
        <li><a href="#dropDownLatency" aria-expanded="false" data-toggle="collapse">
            <i class="fa fa-asterisk"></i>Latency Quantiles</a>
            <ul id="dropDownLatency" class="collapse list-unstyled">
                <li><a href="{% url 'latency_conn' %}"><i class="fa fa-chevron-right"></i>Latency vs. Connection</a></li>
                <li><a href="{% url 'latency_qps' %}"><i class="fa fa-chevron-right"></i>Latency vs. QPS</a></li>
            </ul>
        <li><a href="{% url 'flame_graph' %}"><i class="fa fa-asterisk"></i>Flame Graph</a></li>
        <li><a href="{% url 'micro_benchmarks' %}"><i class="fa fa-asterisk"></i>Micro Benchmarks</a></li>
    </ul>
    <li><a href="#alertDropDown" aria-expanded="true" data-toggle="collapse">
    <i class="fa fa-bullhorn"></i>Regression Alerts</a>
    <ul id="alertDropDown" class="list-unstyled">
        <li><a href="{% url 'cur_alert' %}"><i class="fa fa-asterisk"></i>Current Release Alert</a></li>
        <li class="active"><a href="{% url 'master_alert' %}"><i class="fa fa-asterisk"></i>Master Alert</a></li>
    </ul>
    <li><a href="{% url 'artifact' %}"> <i class="fa fa-file-text"></i>Artifacts</a></li>
</ul>
{% endblock sidebar_active %}

{% block current_active %}
<li class="breadcrumb-item">Regression Alerts</li>
<li class="breadcrumb-item active">master</li>
{% endblock current_active %}

{% block page_content %}
<section class="charts">
      <div class="container-fluid">
        <!-- Page Header-->
        <header>
          <h1 class="h3 display">Istio Performance Pattern</h1>
        </header>
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header d-flex align-items-center">
                <h4>Istio-master Performance Pattern: P90, 1000QPS over 240 seconds (16 connections)</h4>
              </div>
              <div class="card-body">
                <div id="chart_p90_master" style="height: 370px; width: 100%;">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header d-flex align-items-center">
                <h4>Istio-master Performance Pattern: P99, 1000QPS over 240 seconds (16 connections)</h4>
              </div>
              <div class="card-body">
                <div id="chart_p99_master" style="height: 370px; width: 100%;">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
<section>
    <div class="container-fluid">
      <!-- Page Header-->
      <header>
        <h1 class="h3 display">Istio Performance Regression Alerts</h1>
      </header>
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <h4>Istio-master: P90, 1000QPS over 240 seconds (16 connections) Regression Alerts</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th>Date</th>
                    <th>Github Commit</th>
                    <th>Regression Details</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for outlier_data in outliers_master_p90 %}
                  <tr>
                      <td>{{ outlier_data.0 }}</td>
                      <td><a href="{{ outlier_data.1 }}" target="_blank">{{ outlier_data.2 }}</a></td>
                      <td>{{ outlier_data.3 }}</td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <h4>Istio-master: P99, 1000QPS over 240 seconds (16 connections) Regression Alerts</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th>Date</th>
                    <th>Github Commit</th>
                    <th>Regression Details</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for outlier_data in outliers_master_p99 %}
                  <tr>
                      <td>{{ outlier_data.0 }}</td>
                      <td><a href="{{ outlier_data.1 }}" target="_blank">{{ outlier_data.2 }}</a></td>
                      <td>{{ outlier_data.3 }}</td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock page_content %}

{% block page_data %}
    <script>
        outliers_master_p90 =  {{ outliers_master_p90|safe }}
        outliers_master_p99 =  {{ outliers_master_p99|safe }}
        master_pattern_mixer_base_p90 = {{ master_pattern_mixer_base_p90|safe }}
        master_pattern_mixer_serveronly_p90 = {{ master_pattern_mixer_serveronly_p90|safe }}
        master_pattern_mixer_both_p90 = {{ master_pattern_mixer_both_p90|safe }}
        master_pattern_none_serveronly_p90 = {{ master_pattern_none_serveronly_p90|safe }}
        master_pattern_none_both_p90 = {{ master_pattern_none_both_p90|safe }}
        master_pattern_v2_serveronly_p90 = {{ master_pattern_v2_serveronly_p90|safe }}
        master_pattern_v2_both_p90 = {{ master_pattern_v2_both_p90|safe }}
        master_pattern_mixer_base_p99 = {{ master_pattern_mixer_base_p99|safe }}
        master_pattern_mixer_serveronly_p99 = {{ master_pattern_mixer_serveronly_p99|safe }}
        master_pattern_mixer_both_p99 = {{ master_pattern_mixer_both_p99|safe }}
        master_pattern_none_serveronly_p99 = {{ master_pattern_none_serveronly_p99|safe }}
        master_pattern_none_both_p99 = {{ master_pattern_none_both_p99|safe }}
        master_pattern_v2_serveronly_p99 = {{ master_pattern_v2_serveronly_p99|safe }}
        master_pattern_v2_both_p99 = {{ master_pattern_v2_both_p99|safe }}
    </script>
{% endblock page_data %}
