{% extends 'base.html' %}
{% load static from staticfiles %}

{% block sidebar_active %}
<ul id="side-main-menu" class="side-menu list-unstyled">
    <li><a href="{% url 'index_page' %}"><i class="fa fa-home"></i>Overview</a></li>
    <li><a href="#dropDown" aria-expanded="false" data-toggle="collapse">
    <i class="fa fa-area-chart"></i>Benchmarks</a>
    <ul id="dropDown" class="collapse list-unstyled">
        <li><a href="{% url 'cpu_memory' %}"><i class="fa fa-asterisk"></i>CPU & Memory Usage</a></li>
        <li><a href="#dropDownLatency" aria-expanded="false" data-toggle="collapse">
            <i class="fa fa-asterisk"></i>Latency Quantiles</a>
            <ul id="dropDownLatency" class="collapse list-unstyled">
                <li><a href="{% url 'latency_conn' %}"><i class="fa fa-chevron-right"></i>Latency vs. Connection</a></li>
                <li><a href="{% url 'latency_qps' %}"><i class="fa fa-chevron-right"></i>Latency vs. QPS</a></li>
            </ul>
        <li><a href="{% url 'flame_graph' %}"><i class="fa fa-asterisk"></i>Flame Graph</a></li>
        <li><a href="{% url 'micro_benchmarks' %}"><i class="fa fa-asterisk"></i>Micro Benchmarks</a></li>
    </ul>
    <li><a href="#alertDropDown" aria-expanded="false" data-toggle="collapse">
    <i class="fa fa-bullhorn"></i>Regression Pattern</a>
    <ul id="alertDropDown" class="collapse list-unstyled">
        <li><a href="{% url 'cur_pattern' %}"><i class="fa fa-asterisk"></i>Current Release</a></li>
        <li><a href="{% url 'master_pattern' %}"><i class="fa fa-asterisk"></i>Master</a></li>
    </ul>
    <li><a href="{% url 'graph_plotting' %}"> <i class="fa fa-edit"></i>Graph Plotting</a></li>
    <li><a href="{% url 'artifact' %}"> <i class="fa fa-file-text"></i>Artifacts</a></li>
    <li class="active"><a href="{% url 'history' %}"> <i class="fa fa-file-archive-o"></i>History</a></li>
</ul>
{% endblock sidebar_active %}

{% block current_active %}
<li class="breadcrumb-item active">History Releases</li>
{% endblock current_active %}

{% block page_content %}
<section class="dashboard-header section-padding">
        <div class="container-fluid">
          <div class="row d-flex align-items-md-stretch">
            <!-- List-->
            <div class="col-lg-12 col-md-3">
              <div class="card">
                <div class="card-header">
                  <h2>History of Istio Performance and Scalability</h2>
                </div>
                <div class="card-body">
                  <p>Snapshots of performance and scalability page of the istio.io website for each release.</p>
                  <ul>
                      <li><a href="https://istio.io/docs/ops/deployment/performance-and-scalability/">Current Release</a></li>
                      <li><a href="https://archive.istio.io/v1.4/docs/ops/deployment/performance-and-scalability/">v1.4</a></li>
                      <li><a href="https://archive.istio.io/v1.3/docs/concepts/performance-and-scalability/">v1.3</a></li>
                      <li><a href="https://archive.istio.io/v1.2/docs/concepts/performance-and-scalability/">v1.2</a></li>
                      <li><a href="https://archive.istio.io/v1.1/docs/concepts/performance-and-scalability/">v1.1</a></li>
                      <li><a href="https://archive.istio.io/v1.0/docs/concepts/performance-and-scalability/">v1.0</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock page_content %}


{% block charts_js %}
    <script src="{% static 'js/microbenchmarks.js' %}"></script>
{% endblock charts_js %}
